<?xml version="1.0"?>
<config>
    <modules>
        <Triboo_Blog>
            <version>0.1.1</version>
        </Triboo_Blog>
    </modules>
    <global>
        <blocks>
            <tbblog>
                <class>Triboo_Blog_Block</class>
            </tbblog>
        </blocks>
        <helpers>
            <tbblog>
                <class>Triboo_Blog_Helper</class>
            </tbblog>
        </helpers>
        <models>
            <tbblog>
                <class>Triboo_Blog_Model</class>
                <resourceModel>triboo_blog_resource</resourceModel>
            </tbblog>
            <tbblog_resource>
                <class>Triboo_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>tbblog_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>tbblog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>tbblog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>tbblog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>tbblog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>tbblog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>tbblog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </tbblog_resource>
        </models>
        <resources>
            <tbblog_setup>
                <setup>
                    <module>Triboo_Blog</module>
                    <class>Triboo_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tbblog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <tbblog>
                <use>standard</use>
                <args>
                    <module>Triboo_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </tbblog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <tbblog>
                <use>admin</use>
                <args>
                    <module>Triboo_Blog</module>
                    <frontname>blog</frontname>
                </args>
            </tbblog>
        </routers>
    </admin>
</config>