<?xml version="1.0"?>
<config>
    <modules>
        <Tribook_Blog>
            <version>0.1.1</version>
        </Tribook_Blog>
    </modules>
    <global>
        <blocks>
            <tribook_blog>
                <class>Tribook_Blog_Block</class>
            </tribook_blog>
        </blocks>
        <helpers>
            <tribook_blog>
                <class>Tribook_Blog_Helper</class>
            </tribook_blog>
        </helpers>
        <models>
            <tribook_blog>
                <class>Tribook_Blog_Model</class>
                <resourceModel>tribook_blog_resource</resourceModel>
            </tribook_blog>
            <tribook_blog_resource>
                <class>Tribook_Blog_Model_Resource</class>
                <entities>
                    <post_entity>
                        <table>tribook_blog_post_entity</table>
                    </post_entity>
                    <post_entity_datetime>
                        <table>tribook_blog_post_entity_datetime</table>
                    </post_entity_datetime>
                    <post_entity_decimal>
                        <table>tribook_blog_post_entity_decimal</table>
                    </post_entity_decimal>
                    <post_entity_int>
                        <table>tribook_blog_post_entity_int</table>
                    </post_entity_int>
                    <post_entity_text>
                        <table>tribook_blog_post_entity_text</table>
                    </post_entity_text>
                    <post_entity_varchar>
                        <table>tribook_blog_post_entity_varchar</table>
                    </post_entity_varchar>
                    <post_entity_char>
                        <table>tribook_blog_post_entity_char</table>
                    </post_entity_char>
                </entities>
            </tribook_blog_resource>
        </models>
        <resources>
            <tribook_blog_setup>
                <setup>
                    <module>Tribook_Blog</module>
                    <class>Tribook_Blog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tribook_blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <tribook_blog>
                <use>standard</use>
                <args>
                    <module>Tribook_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </tribook_blog>
        </routers>
    </frontend>
</config>